<template>
  <div class="main">
    <v-layout row wrap text-xs-center>
      <v-flex xs3 offset-xs2 text-xs-center class="score">
        <v-layout row wrap text-xs-center>
          <v-flex xs6 text-xs-center class="score-number">{{ scoreOne }}</v-flex>
          <v-flex xs6 text-xs-center class="score-btns">
            <div><v-btn @click="plusScore('one')">+</v-btn></div>
            <div><v-btn @click="minusScore('one')">-</v-btn></div>
          </v-flex>
        </v-layout>
      </v-flex>
      <v-flex xs3 offset-xs2 text-xs-center class="score">
        <v-layout row wrap text-xs-center>
          <v-flex xs6 text-xs-center class="score-number">{{ scoreTwo }}</v-flex>
          <v-flex xs6 text-xs-center class="score-btns">
            <div><v-btn @click="plusScore('two')">+</v-btn></div>
            <div><v-btn @click="minusScore('two')">-</v-btn></div>
          </v-flex>
        </v-layout>
      </v-flex>
    </v-layout>
    <div class="timer">{{ time }}</div>
    <div>
      <v-btn v-if="!timer" @click="startTimer">Start</v-btn>
      <v-btn v-else @click="resetTimer">Reset</v-btn>
    </div>
  </div>
</template>

<script>
import methods from '../mixins/methods';
// eslint-disable-next-line
import moment from 'moment';

export default {
  name: 'ScoreKeeper',
  mixins: [
    methods,
  ],
  data() {
    return {
      scoreOne: 0,
      scoreTwo: 0,
      now: null,
      then: null,
      minutes: 30,
      timer: false,
      timeRemaining: '30:00',
    };
  },
  computed: {
    time() {
      return this.timeRemaining;
    },
  },
  methods: {
    plusScore(score) {
      if (score === 'one') {
        this.scoreOne += 1;
      } else {
        this.scoreTwo += 1;
      }
    },
    minusScore(score) {
      if (score === 'one') {
        this.scoreOne -= 1;
      } else {
        this.scoreTwo -= 1;
      }
    },
    setTimer() {
      this.then = moment().add(this.minutes, 'minutes');
    },
    startTimer() {
      this.setTimer();
      this.timer = true;
    },
    resetTimer() {
      this.timer = false;
      this.setTimer();
      this.timeRemaining = '30:00';
    },
    countdown() {
      let remaining = 0;
      let minutes = 0;
      let seconds = 0;
      this.now = moment();
      if (this.timer) {
        remaining = moment(this.then).diff(this.now);
      }
      if (remaining >= 0) {
        minutes = Math.floor(remaining / 60000);
        seconds = ((remaining % 60000) / 1000).toFixed(0);
      }
      if (seconds === '60') {
        seconds = 0;
        minutes += 1;
      }
      this.timeRemaining = `${minutes}:${seconds < 10 ? '0' : ''}${seconds}`;
    },
  },
  created() {
    this.setTimer();
    setInterval(() => {
      if (this.timer) {
        this.countdown();
      }
    }, 100);
  },
};
</script>

<style>
  html, body {
    width: 100%;
    height: 100%;
    background: black;
  }
</style>

<style scoped>
  :root {
  }
  .main {
    width: 100%;
    min-height: 500px;
    background: black url(../assets/nerdery-extralife.png) center top no-repeat;
    background-size: 700px;
    color: white;
  }
  .score {
    height: 120px;
    margin: 250px auto 0 auto;
    background: rgba(255,255,255,0.2);
  }
  .score-number {
    font-size: 100px;
  }
  .score-btns {
    padding-top: 12px;
  }
  .timer {
    margin-top: 100px;
    font-size: 100px;
  }
</style>
