<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<script>
import methods from './mixins/methods';

export default {
  name: 'App',
  mixins: [
    methods,
  ],
};
</script>

<style src="./styles/vuetify.min.css"></style>

<style>
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
</style>
